{% extends 'BackendAppBundle::base.html.twig' %}

{% block menu %}
    {{ render(controller('OrcaMenuBundle:Default:menu')) }}
{% endblock %}
{% block leftBlock %}
{% endblock %}
{% block contentTitle %}Preview mail vue{% endblock %}
{% block colListeNumber %}col-md-12{% endblock %}
{% block contentListe %}

    <div class="mail_preview">
        {% if mailPreview.mailObject %}
            Objet : {{ mailPreview.mailObject }}
            <br />
            Contenu :
            <div>{{ mailPreview.mailBody|raw }}</div>
        {% else %}
            <p>Aucun resultat</p>
        {% endif %}
    </div>


{% endblock %}

{% block mystyle %}
    <style>
        .red{
            color: red;
        }
        .green{
            color: green;
        }
        ul.list_action li{
            list-style-type: none;
            display: inline;
            margin-right: 10px;
        }
        .list_action{
            margin-top: 10px;
        }
    </style>
{% endblock %}

{% block myscript %}
    <script>
        var path_url = 'mailtblregle_index';

        $("#"+path_url).addClass('active');
        $("#"+path_url).parent().parent().addClass('active');
    </script>
{% endblock %}